<a href="https://colab.research.google.com/github/swetaC1711/ML/blob/main/ML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Vriable -> data container(where exactly you are storing your values)
num=10

In [ ]:
print(num);
print(type(num));

10
<class 'int'>

In [ ]:
#string -> set of characters
strn ='introduction';
print(strn);
print(type(strn));

introduction
<class 'str'>

In [ ]:
#boolean -> true or false
print(7>5);

True

In [ ]:
#concatination -> combining the datas
num1=9;
num2=9.7;
print(num1+num2);
n1='hello';
n2='world';
print(n1+n2);
print(n1 ,n2);

18.7
helloworld
hello world

class 2

In [ ]:
#collective data types -> list, set, tuple, dictionary
myList = ["data","a","task","course",89,6.09,True]
print(myList[3])
print(myList)
print(type(myList))

#update
myList[-2]=47;

#append(add)
myList.append("green");
print(myList)

#insert
myList.insert(-3,"insert");
print(myList)

#add two list
list1=[1,23,456]
list1.extend(myList)
print(list1)

#remove
myList.remove(89)
print(myList)

#delete
del myList[-5]
print(myList)

course
['data', 'a', 'task', 'course', 89, 6.09, True]
<class 'list'>
['data', 'a', 'task', 'course', 89, 47, True, 'green']
['data', 'a', 'task', 'course', 89, 'insert', 47, True, 'green']
[1, 23, 456, 'data', 'a', 'task', 'course', 89, 'insert', 47, True, 'green']
['data', 'a', 'task', 'course', 'insert', 47, True, 'green']
['data', 'a', 'task', 'insert', 47, True, 'green']

In [ ]:
#tuple -> ordered collection of datatype,(),immutable
tup=("del","doll",98,9.7,False)
print(len(tup))

5

In [ ]:
#dictionary -> {keys:values}
mydic={"username":"admin",
       "password":"pass",
       "batch":2023
       }
print(mydic)
print(mydic["username"])

#update
mydic["username"]="admin123"
print(mydic)

mydic["username"]=("admin","admin123")
print(mydic)

#append
mydic["course"]=977
print(mydic)

l1=[1,2,3,4]
mydic["password"]=l1
print(mydic)

#pop
mydic.pop("username")
print(mydic)


#update key
new=mydic["course"]
del mydic["course"]
mydic["learning"]=new
print(mydic)

#delete
del mydic

{'username': 'admin', 'password': 'pass', 'batch': 2023}
admin
{'username': 'admin123', 'password': 'pass', 'batch': 2023}
{'username': ('admin', 'admin123'), 'password': 'pass', 'batch': 2023}
{'username': ('admin', 'admin123'), 'password': 'pass', 'batch': 2023, 'course': 977}
{'username': ('admin', 'admin123'), 'password': [1, 2, 3, 4], 'batch': 2023, 'course': 977}
{'password': [1, 2, 3, 4], 'batch': 2023, 'course': 977}
{'password': [1, 2, 3, 4], 'batch': 2023, 'learning': 977}

In [ ]:
#set->unorder, unindexed collection of datatypes, {}, doen't contain a duplicate value

myset={"data","task",12,23.6,False,"hello"}
print(myset) #randomvalue

#add or append
myset.add("true")
print(myset)


set1={1,23,4,5,56,9}
set2={2,3,0,8,3,4}
set3=set1.union(set2)
print(set3)
#unioun sign--> |
set4=set1|set2
print(set4)

#intersection
set4=myset.intersection(set1)
print(set4)

{False, 'hello', 12, 'task', 23.6, 'data'}
{False, 'hello', 12, 'true', 'task', 23.6, 'data'}
{0, 1, 2, 3, 4, 5, 8, 9, 23, 56}
{0, 1, 2, 3, 4, 5, 8, 9, 23, 56}
set()

In [ ]:
set1={1,2,3,4,5}
set2={1,57,5,6,7,7}
set3=set1&set2
print(set3)

set2.clear()
print(set2)

{1, 5}
set()

In [ ]:
#difference
set4=set1.difference(set2)
print(set4)

{1, 2, 3, 4, 5}

In [ ]:
dec={'we':12,'we1':12}
print(dec)

{'we': 12, 'we1': 12}

In [ ]:
''' Assignment 1
create a two different examples for collective datatypes in python'''

class 4

In [ ]:
#Function -> a set of data will be executed when ever you call it

In [ ]:
def a():
  print("hello world")

a()

hello world

In [ ]:
def add(num1,num2): #num1 and num2 are parameters,  #add() is a function name
    print(num1+num2)
add(6,9)# 6,9 are arguments

15

In [ ]:
def add():
  n1=int(input("enter num1: "))
  n2=int(input("enter num2: "))
  print(n1+n2)
add()

enter num1: 2
enter num2: 3
5

In [ ]:
a=5
for i in range(0,a):
  print(i)

0
1
2
3
4

In [ ]:
myList=["stack","A","for","sub","neg","Tag"]
print(myList)
for a in myList:
  print(a)

['stack', 'A', 'for', 'sub', 'neg', 'Tag']
stack
A
for
sub
neg
Tag

In [ ]:
def x():
  for i in range(0,-5,-2):#(start,stop,)
    print(i)
x()

0
-2
-4

In [ ]:
info = {'name':'saurabh','age':20,'country':'India'}
for i in info:
    print(i ,':' ,info[i])
for i in info:
    print(i)

name : saurabh
age : 20
country : India
name
age
country

In [ ]:
if(2>6):
  print("2 is greater")
elif(2==6):
  print("2 is equals to 6")
else:
  print("6 is greater")

6 is greater

In [ ]:
def quiz():
  n=input()
  if n==("a"or"b"or"c"):
    print("you have lost")
  elif n==9:
    print("its a number")
  else:
    print("none") 
quiz()

c
none

CLASS 5

In [ ]:
'''
file : where information can be stored
  read mode
  write mode
  append mode: add new data to existing data but at the last 
'''

#ASS2: work on r+,w+,a+

'\nfile : where information can be stored\n  read mode\n  write mode\n  append mode: add new data to existing data but at the last \n'

In [ ]:
file=open("a.txt","r")
print(file.read())

file : where information can be stored
  read mode
  write mode
  append mode: add new data to existing data but at the last

In [ ]:
file.close()

In [ ]:
file=open("a.txt","w")
file.write("this a internship program ")

26

In [ ]:
file=open("a.txt","r")
print(file.read())

this a internship program

In [ ]:
file=open("a.txt","a")
file.write("\n this is sweta")
file.write("\n this is cool ")

15

In [ ]:
file=open("a.txt","r")
print(file.read())

this a internship program
 this is sweta
 this is cool

In [ ]:
with open("a.txt","r") as file1:
  print(file1.read())

this a internship program
 this is sweta
 this is cool

In [ ]:
myLines=["data\n","Details\n","tasks"]

In [ ]:
with open("b.txt","a") as fl:
  fl.writelines(myLines)

In [ ]:
with open("b.txt","r") as fl:
  print(fl.read())

data
Details
tasks

In [ ]:
#CREATE SIMPLE CALCULATOR

CLASS 6

In [ ]:
#functions -> a set of code executed when ever you call it
def _a_(name,no):
  print("Hello all",name,"your roll number is: ",no)
_a_("tom",3)

Hello all tom your roll number is:  3

In [ ]:
#Advanced argument passing
#Positional argument->the function call corresponding to the order of the parameters
#defined in function
def arg(name,city,batch):
  print("My name is",name,"and I am from",city,"and belongs to",batch,"batch")
  print(type(name))
arg("sweta","solapur",batch="CSE")
#keyword arguments-> values that passes into function by a specific parameters(you will mention keywords name before passing the values)

My name is sweta and I am from solapur and belongs to CSE batch
<class 'str'>

In [ ]:
#default argument
def arg(name="tom",city="solapur",batch=2020):
  print("My name is",name,"and I am from",city,"and belongs to",batch,"batch")
  print(type(name))
arg("sweta")

My name is sweta and I am from solapur and belongs to 2020 batch
<class 'str'>

In [ ]:
#Slicing->prints a sequence of elements
s="Python course"
print(s[0])
print(s[0:6:2])
print(s[::2])
print(s[-7:-13:-1]) #negative indexing
print(s.replace("e","n"))

P
Pto
Pto ore
 nohty
Python coursn

Class 7

In [ ]:
#N numberof arguments(*arg-> when we don't know the exact number of argument we use *args)
def details(Teachers,*args):
  print("The teacher name is",Teachers)
  for i in args:
    print("the student rollno are",i)
details("lucy",1,4,6,7,8)

In [ ]:
#**kwargs-> The reason is that the double star allows us to pass through keyword arguments (and any number of them).
def details(Teachers,*args,**kwargs):
  print("The teacher name is",Teachers)
  s_args=sorted(args)
  for i in s_args:
    print("the student rollno are",i)
  for i in kwargs:
    print(i,kwargs[i])
details("lucy",1,4,6,7,8,9,6,python=100,webdev=50,dataScience=30)

The teacher name is lucy
the student rollno are 1
the student rollno are 4
the student rollno are 6
the student rollno are 6
the student rollno are 7
the student rollno are 8
the student rollno are 9
python 100
webdev 50
dataScience 30

In [ ]:
#Iterators -> an object that contains a countable number of values
#Iter and next

list=[1,45,9,97,7,8,96,89,56,3,6,3]
myiter=iter(list)
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
45
9
97

In [ ]:
for i in list:
  print(i)

1
45
9
97
7
8
96
89
56
3
6
3

In [ ]:
seq="helloworld"
print(seq.index("o"))
print(seq.index("l",4))#after index value 4 is there any l symbol

4
8

In [ ]:
c=[12,34,78,2,3,4,1,9,42]
print(c.index(34,0,4))#34 no between index 0 and index 4

1

In [ ]:
#print the largest value in a set?
#print smallest value in tuple?
myset={1,8,7,6,9}
print(max(myset))
print(min(myset))
myset.remove(9)
print(myset)

9
1
{1, 6, 7, 8}

In [ ]:
myset=(1,8,7,6,9)
print(max(myset))
print(min(myset))

9
1

In [ ]:
#create an input and take some random number and then sort them into two list as even and odd numbers
def oddeven():
  a=int(input("enter number of element in list "))
  p=[]
  even=[]
  odd=[]
  for j in range(1,a+1):
    k=int(input("enter "))
    p.append(k)
  for i in p:
    if (i%2 == 0):
      even.append(i)
    else:
      odd.append(i)
  print(odd)
  print(even)

oddeven()

enter number of element in list 4
enter 3
enter 4
enter 5
enter 6
[3, 5]
[4, 6]

In [ ]:
#Exception handling in python
try:
  print(c)#c is not declared
except:
  print("an error occured")#instead for error display , except statement will proived a statement

an error occured

In [ ]:
l=[1,23,4,5,238,50,7,9,]
try:
  print(l[2])
  print(l[16])
  print(l[6])#once it jumped to invalid clouse it won't jump back to the try statment
except:
  print("invalid index")

4
invalid index

In [ ]:
import sys

try:
  x=open("a.txt","r")
  print(x.read())
except:
  print("file does not exist")
finally:
  print("the task is partially completed")#finally clause the data will print for sure

hey
hello world
welcome to python the snake

In [ ]:
print(2/0)

ZeroDivisionError: ignored

In [ ]:
print(2/"2")

TypeError: ignored

In [ ]:
try:
  raise TypeError("abcd")
  raise ZeroDivisionError(2/0)
except:
  print("An error ocurred")
  raise

An error ocurred

TypeError: ignored

In [ ]:
try:
  raise ZeroDivisionError(2/0)
except:
  print("An error ocurred")
  raise

An error ocurred

ZeroDivisionError: ignored

In [ ]:
x=5
y=0
try:
  z=x/y
except ZeroDivisionError:
  print("y cannot be zero")

y cannot be zero

In [ ]:
#Comprehension -> the task can be implemented in a short and precise way
#List Comprehension
#Dictionary
#Set
#Genterator

In [ ]:
#List
l1=[1,2,3,4,5,6,7,8]

In [ ]:
evenlist=[]
oddlist=[]
for x in l1:
  if x%2==0:
    evenlist.append(x)
  else:
    oddlist.append(x)
print(evenlist)
print(oddlist)

[2, 4, 6, 8]
[1, 3, 5, 7]

In [ ]:
#List Comprehension
even=[value for value in l1 if value%2==0]
print("even number",even)
odd=[value for value in l1 if value%2!=0]
print("odd number",odd)

even number [2, 4, 6, 8]
odd number [1, 3, 5, 7]

In [ ]:
#Dictionary
mydic={}
for y in l1:
  mydic[y]=y**2
  print(mydic)

{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
#Dictionary Comprehension
mydic={i:i**2 for i in l1}
print(mydic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
#Set
oddset=set()
for x in l1:
 if x%2==0:
      oddset.add(x)
print(oddset)

{8, 2, 4, 6}

In [ ]:
set={i for i in l1 if i%2==0}
print(set)

{8, 2, 4, 6}

CLASS 9

In [ ]:
#Generator -> generating the value(the value will be generated using the yield keywords)
def gen(x):
  print('The values are')
  yield x+10-x
  yield 10*x
y=gen(2.4)
print(next(y))# yield x+10-x
print(next(y))#yield 10*x
print(next(y))

In [ ]:
def gen(x):
  print('The values are')
  yield x+10-x
  yield 10*x
for i in gen(2.4):
  print(i)

The values are
10.0
24.0

In [ ]:
#Yield will be helping to generate a value
#return will be sending the data back as a result

#Difference
#	Yield is generally used to convert a regular Python function into a generator.
#Return is generally used for the end of the execution
def a(b):
  return b
a("the task is completed")

'the task is completed'

In [ ]:
def avg(a,b):
    return (a+b)/2
avg(2,5)

3.5

In [ ]:
#Lambda Function -> anonymous function
#It is a function that does not have any name associated with it. Normally we use the function keyword before the function name to define a function in JavaScript, however, in anonymous functions in JavaScript, we use only the function keyword without the function name.
x=lambda  x:x+10
print(x(10))

20

In [ ]:
x=lambda x,y,z:x+y+z
print(x(10,20,30))

60

In [ ]:
print((lambda x,y,z:x+y+z) (10,20,30))

60

In [ ]:
x1=[lambda x=x:x*10 for x in range(1,11)]
          #parameter:exprestion
for i in x1:
  print(i())#not assigning value

10
20
30
40
50
60
70
80
90
100

In [ ]:
x1=[lambda x:x*10 for x in range(1,11)]
for i in x1:
  print(i(8))#assigning value

80
80
80
80
80
80
80
80
80
80

In [ ]:
y=lambda a,b:a if(a>b) else b
print(y(9,8))
print(y(1,2))

9
2

In [ ]:
y=lambda a,b:a if(a>b) else b
a,b=[int(n) for n in input("enter two number").split(',')]
print("largest among two is:",y(a,b))

enter two number7,2
largest among two is: 7

In [ ]:
#String Formating

#1.operators
print("hello %s, welcom all"%"class")#Set of strings
    #additional string      #what additional value to enter

hello class, welcom all

In [ ]:
print("Hello %s,welcome %s"%("class\n","all"))

Hello class
,welcome all

In [ ]:
#2.format
print("Hello {1},welcome {0}" .format("class\n","all"))
print("Hello {1},welcome {1}" .format("class\n","all"))

Hello all,welcome class

Hello all,welcome all

CLASS 10

In [ ]:
print("%(complete)s is a %(department)s" %{'complete':'gfg','department':'cs'})

gfg is a cs

In [ ]:
gpoint={'latitude':45.243,'gratitude':50.796}
print("{latitude} {gratitude}".format(**gpoint))

45.243 50.796

In [ ]:
print('hello: {a}'.format(a="Tom"))

hello: Tom

In [ ]:
#3.fstring--> embeding a value indide a string literals
num1="10"
num2="20"
print("string"+num1+num2)

string1020

In [ ]:
num1=10
num2=20
print(f"string {num1+num2}")

string 30

In [ ]:
a=10**3
print(f"a is equals to {a}")

a is equals to 1000

In [ ]:
#Assignment 3
#Create a Assignment on string templete class

In [ ]:
#Modules -> a file containing Python definitions and statements. 
#A module can define functions, classes, and variables.
# A module can also include runnable code. 
#Grouping related code into a module makes the code easier to understand and use. 
#It also makes the code logically organized.

In [ ]:
#Builtin module --> code is already been dupmed
#math lib
import math
print(math.pi)
print(math.sin(1))

3.141592653589793
0.8414709848078965

In [ ]:
import datetime
print(datetime.datetime.now())

2023-02-11 21:02:26.658139

In [ ]:
from datetime import datetime as date
print(datetime.datetime.now())

2023-02-11 21:02:28.956995

In [ ]:
from datetime import datetime as date
b=date.now()
a=b.strftime('%A')#weekDay
print(a)

Saturday

In [ ]:
from datetime import datetime as date
b=date.now()
a=b.strftime('%m')#month
print(a)
c=b.strftime('%M')#month
print(c)
c=b.strftime('%B')#weekdays
print(c)

02
24
February

In [ ]:
#User defined lib
import module1
module1.a("Tom","Goodevening")

Goodevening Tom

In [ ]:
#Custom library

In [ ]:
#Regular Expression -> is a sequence of character that forms a search patterns
#Search 

import re
a="hello,your welcome"

In [ ]:
b=re.search("your",a)
print("Starting Index Number",b.start())
print("Ending index number",b.end())
print(b.group())
print(b.span())

Starting Index Number 6
Ending index number 10
your
(6, 10)

In [ ]:
print(a[6:10])

your

In [ ]:
#Sub-> replacing the whiteSpace with number or a character
import re
a="hello, your welcome"
c=re.sub("\s","$",a)
print(c)

hello,$your$welcome

In [ ]:
d="hello, your welcome"
e=re.split("\s",d)#s-> for string
print(e)

['hello,', 'your', 'welcome']
['hello,', 'your', 'welcome']

In [ ]:
data="welcome all 123456"
match1=re.findall("\d",data)#d -> for digit in a variable
print(match1)
match1=re.findall("\d+",data)
print(match1)

['1', '2', '3', '4', '5', '6']
['123456']

OOPS CLASS

OOPS --> object oriented programming language
fewfundamentals concepts:-
1.Class
2.Object
3.Inheritance
4.encapsulation
5.polymorphism
7.Data Abstraction

In [ ]:
#1.CLASS->blueprint of the object

In [ ]:
class mylaptop():  #class is a keyword which will help us to create a CLASS
  #attribute->a variable defined under a class and that can be shared by all object of the class
   processor="Intel i5"#attribute are always public and can accessed using dot obj1.processor 
   display="Full HD"
   #instance attribute-> is a variable  that belongs to only one objects
   def __init__(self,color):#__init__ -> it is a constructor in a class.[it is used to initialize the instance variable].{it is automatically called when object of a class is created}
     #self meaning only mylaptop() class
     self.color=color
   def a(self):
     print("hello and welcome")
     

mylaptop.processor="Inteli7" #modification applied to entire class

In [ ]:
obj1=mylaptop("Red") #object is instance of the class
obj2=mylaptop("blue")#"blue" is an argument
obj3=mylaptop("green")

obj3.processor="pentium" #modification only for object not for entire class
print(obj1.processor)
print(obj2.display)
print(obj3.processor)
print(obj3.color)

obj1.a()

Inteli7
Full HD
pentium
green
hello and welcome

In [ ]:
#Inheritance 
class mymobile(mylaptop):#mymobile is a subclass inheriting the parent class (mylaptop)
  def __init__(self,color,camera):
    self.camera=camera
    mylaptop .__init__(self,color)

In [ ]:
object1=mymobile("white","HP")
print(object1.processor)
print(object1.camera)

Inteli7
HP

In [ ]:
#Encapsulation-> hide the data or bundle the data inside one single unit
#1.private, #2.public
#Encapsulation is a process of protecting a data or functionality of class from a object 
class data():
  def __init__(a,username,passwd):
    a.username=username
    a.__passwd=passwd# '__'prefix to make a data Private entity,"_" prefix to make a data Protected
  def access(a):
    print(a.__passwd)

In [ ]:
obj=data("Admin","pass123")
print(obj.username)
obj.access()

Admin
pass123

In [ ]:
#Polymorphism -> many forms
class Bird():
  def intro(self):
    print("some of the birds can fly")
  def fly(self):
    print("most of the birds can't fly")

In [ ]:
class parrot(Bird):
  def fly(self):
    print("parrot can fly")
class penguin(Bird):
  def fly(self):
    print("Penguin can't fly")

In [ ]:
obj1=Bird()
obj2=parrot()
obj3=penguin()
obj1.fly()
obj2.fly()
obj3.fly()

most of the birds can't fly
parrot can fly
Penguin can't fly

Class 12

In [ ]:
#Python Decorators -> will allow users to modify or add new functionality to an existing object without modifying the structure
def greet():
  print("Good Evening")
greet()

Good Evening

In [ ]:
greetme=greet() #using the 
greetme

Good Evening

In [ ]:
def increment(num1):
  return num1+10
def decrement(num1):
  return num1-10

In [ ]:
def incdec(func,num1):
  result=func(num1)
  return result

incdec(decrement,7)

-3

In [ ]:
def simple():
  print("hello and welcome all")

In [ ]:
def special(func):
  def a():
    print("introduction to python decorators")
    func()
  return a()
special(simple)

introduction to python decorators
hello and welcome all

In [ ]:
import time

print("Enter the number of seconds for the timer: ", end="")
seconds = int(input())

for i in range(seconds, 0, -1):
    print(i, end=" ")
    time.sleep(1)

print("\nTime's up!")

Enter the number of seconds for the timer: 7
7 6 5 4 3 2 1
Time's up!